
<div id="search-overlay" class="hidden">
    <div>
        <div class="search-container" role="dialog" aria-modal="true">
            <div class="search-header">
                <h2 class="title">Search</h2>
                <button id="search-close" class="close" aria-label="Close search">&times;</button>
            </div>
            <div id="search"></div>
        </div>
    </div>
</div>