<a href="{{ card.url | url }}" class="card card-v {{ card.class }}">
    <i class="fa-solid fa-bookmark card-bookmark"></i>
    <div class="card-content">
        <label class="title">{{ card.label }}</label>
    </div>
</a>