---
layout: layouts/blog/art
date: 2023-02-23
tags: blog
title: 20230223
image: /asset/image/webp/20230223.webp

card_thumbnail: /asset/image/webp/20230223_thumb.webp
card_thumbnailPosition: center center
card_thumbnailSize: 100%
card_bgAccent: bg-accent-06
card_textAccent: text-accent-18

section_path: /art/2023
section_bgAccent: bg-accent-06
section_textAccent: text-accent-06
---

<p>Made and rendered in Blender.</p>
<img src="{{ image }}">