<a
    href="{{ card_url | url }}"
    class="card card-h {{ card_bgAccent or section_bgAccent }}"
    style="background-image: url({{ card_image | url }}); background-position: {{ card_imagePosition }}; background-size: {{ card_imageSize }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="card-bookmark">
        <path d="M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z" />
    </svg>
    <div class="card-backdrop"></div>
    <div class="card-content">
        <label class="title {{ card_textAccent or section_textAccent or 'text-zinc-950' }}">{{ card_title }}</label>
        <label class="sub {{ card_textAccent or section_textAccent or 'text-zinc-950' }}">{{ card_description }}</label>
    </div>
</a>