---
layout: layouts/blog/art
date: 2024-10-20
tags: blog
title: 20241020
image: /asset/image/webp/20241020.webp

card_thumbnail: /asset/image/webp/20241020_thumb.webp
card_thumbnailPosition: center center
card_thumbnailSize: 100%
card_bgAccent: bg-accent-05
card_textAccent: text-accent-18

section_path: /art/2024
section_bgAccent: bg-accent-05
section_textAccent: text-accent-05
---

<p>Made and rendered in Blender.</p>
<img src="{{ image | url }}">