---
layout: layouts/blog/art
date: 2024-12-04
tags: blog
title: Blender G'MIC node editor plugin
image: /asset/image/webp/blender-gmic-editor-01.webp

card_thumbnail: /asset/image/webp/blender-gmic-editor-01_thumb.webp
card_thumbnailPosition: center center
card_thumbnailSize: 100%
card_bgAccent: bg-accent-09
card_textAccent: text-accent-18

section_path: /project/blender
section_bgAccent: bg-accent-09
section_textAccent: text-accent-09
---

<p>A node editor graph for image manipulation using G'MIC directly inside Blender, featuring 100+ of filters along with batch processing.</p>

<a class="link" href="https://github.com/polygonvariable/gmic-node-editor">Github Repo</a>

<img src="{{ image | url }}">