---
layout: layouts/blog/art
date: 2026-03-02
tags: blog
title: 20260302
image: /asset/image/webp/20260302.webp

card_thumbnail: /asset/image/webp/20260302_thumb.webp
card_thumbnailPosition: center center
card_thumbnailSize: 100%
card_bgAccent: bg-accent-03
card_textAccent: text-accent-18

section_path: /art/2026
section_bgAccent: bg-accent-03
section_textAccent: text-accent-03
---

<p>Made and rendered in Blender.</p>
<img src="{{ image }}">