---
layout: layouts/blog/art
date: 2022-12-15
tags: blog
title: 20221215
image: /asset/image/webp/20221215.webp

card_thumbnail: /asset/image/webp/20221215_thumb.webp
card_thumbnailPosition: center center
card_thumbnailSize: 100%
card_bgAccent: bg-accent-07
card_textAccent: text-accent-18

section_path: /art/2022
section_bgAccent: bg-accent-07
section_textAccent: text-accent-07
---

<p>Made and rendered in Blender.</p>
<img src="{{ image | url }}">