---
layout: layouts/blog/art
date: 2025-12-18
tags: blog
title: 20251218
image: /asset/image/webp/20251218.webp

card_thumbnail: /asset/image/webp/20251218_thumb.webp
card_thumbnailPosition: center center
card_thumbnailSize: 100%
card_bgAccent: bg-accent-04
card_textAccent: text-accent-18

section_path: /art/2025
section_bgAccent: bg-accent-04
section_textAccent: text-accent-04
---

<p>Made and rendered in Blender.</p>
<img src="{{ image | url }}">