---
layout: layout
title: Contact
---

{% set section_header = title %}
{% set section_path = "/" %}
{% set section_textAccent = "text-accent-00" %}
{% set section_cardPath = "widget/container/card-v.njk" %}
{% set section_cardData = [
		{ data: { title: "Youtube", card_bgAccent: "bg-accent-02" }, url: "https://www.youtube.com/@PolygonVariable" },
		{ data: { title: "Instagram", card_bgAccent: "bg-accent-03" }, url: "https://www.instagram.com/polygonvariable" },
        { data: { title: "Twitter", card_bgAccent: "bg-accent-04" }, url: "https://twitter.com/polygonvariable" },
        { data: { title: "Github", card_bgAccent: "bg-accent-05" }, url: "https://github.com/polygonvariable" },
        { data: { title: "Itch.io", card_bgAccent: "bg-accent-06" }, url: "https://polygonvariable.itch.io/" },
        { data: { title: "Reddit", card_bgAccent: "bg-accent-07" }, url: "https://www.reddit.com/user/globalvariable7/" },
        { data: { title: "Linktree", card_bgAccent: "bg-accent-08" }, url: "https://linktr.ee/polygonvariable" }
	]
%}

{% include "widget/container/grid.njk" %}