---
layout: layout
title: Home
---

{% set section_header = title %}
{% set section_path = "/" %}
{% set section_textAccent = "text-accent-00" %}
{% set section_cardPath = "widget/container/card-v.njk" %}
{% set section_cardData = [
		{ data: { title: "Art", card_bgAccent: "bg-accent-05" }, url: "/art/" },
		{ data: { title: "Projects", card_bgAccent: "bg-accent-06" }, url: "/project/" },
		{ data: { title: "Blogs", card_bgAccent: "bg-accent-07" }, url: "/blog/" },
		{ data: { title: "Contact", card_bgAccent: "bg-accent-08" }, url: "/contact/" }
	]
%}

{% include "widget/container/grid.njk" %}


{% set section_header = "Recent Arts" %}
{% set section_bgAccent = "bg-accent-05" %}
{% set section_cardData = collections.artBlog %}
{% set section_cardPath = "widget/container/card-h.njk" %}

{% include "widget/ui/separator.njk" %}
{% include "widget/container/grid.njk" %}


{% set section_header = "Projects" %}
{% set section_bgAccent = "bg-accent-07" %}
{% set section_cardData = collections.unrealProject %}
{% set section_cardPath = "widget/container/card-h.njk" %}

{% include "widget/ui/separator.njk" %}
{% include "widget/container/grid.njk" %}


{% set section_header = "Blogs" %}
{% set section_bgAccent = "bg-accent-08" %}
{% set section_cardData = collections.unrealProject %}
{% set section_cardPath = "widget/container/card-h.njk" %}

{% include "widget/ui/separator.njk" %}
{% include "widget/container/grid.njk" %}