---
layout: layout
title: Home
---

{% set header = title %}
{% set path = "/" %}
{%
	set cards = [
		{ label: "Art", url: "/art/", class: "bg-accent-05" },
		{ label: "Projects", url: "/project/", class: "bg-accent-06" },
		{ label: "Blogs", url: "/blog/", class: "bg-accent-07" },
		{ label: "Contact", url: "/contact/", class: "bg-accent-08" }
	]
%}

{% include "navigation/grid.njk" %}

{% set header = "Projects" %}
{% set bgAccent = "bg-accent-07" %}
{% set cards = collections.unrealProject %}

{% include "ui/separator.njk" %}
{% include "post/grid.njk" %}


{% set header = "Blogs" %}
{% set bgAccent = "bg-accent-08" %}
{% set cards = collections.unrealProject %}

{% include "ui/separator.njk" %}
{% include "post/grid.njk" %}