---
layout: layout
title: Projects
---

{% set section_header = title %}
{% set section_path = "/" %}
{% set section_textAccent = "text-accent-00" %}
{% set section_cardPath = "widget/container/card-v.njk" %}
{% set section_cardData = [
		{ data: { title: "Unreal Engine", card_bgAccent: "bg-accent-08" }, url: "/project/unreal" },
		{ data: { title: "Blender", card_bgAccent: "bg-accent-09" }, url: "/project/blender" },
		{ data: { title: "Web", card_bgAccent: "bg-accent-10" }, url: "/project/web" }
	]
%}

{% include "widget/container/grid.njk" %}