---
layout: layout
title: Projects
---

{% set header = title %}
{% set path = "/" %}
{%
	set cards = [
		{ label: "Unreal Engine", url: "/project/unreal", class: "bg-accent-08" },
		{ label: "Blender", url: "/project/blender", class: "bg-accent-09" },
		{ label: "Web", url: "/project/web", class: "bg-accent-10" }
	]
%}

{% include "navigation/grid.njk" %}